

.header {
  width: 1440px;
  margin: auto;
  display: grid;
  padding: 0 50px;
  /* background-color: rgb(87, 87, 87); */
  grid-template: 293px / 1fr 1fr 1fr;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__menu {
  /* background-color: rgb(145, 142, 142); */
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 0 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  margin: auto;
  width: 140px;
  /* background-color: rgb(43, 43, 43); */
}

.header__logo-image {

}

.address {
  display: flex;
  justify-content: end;
  /* background-color: rgb(159, 159, 159); */
}

.header__address a, p {
  line-height: 1.35;
  font-style: normal;
  display: block;
}