

.header {
  width: 1440px;
  margin: auto;
  display: grid;
  padding: 0 50px;
  /* background-color: rgb(87, 87, 87); */
  grid-template: 293px / 1fr 1fr 1fr;
  align-items: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.header__menu {
  /* background-color: rgb(145, 142, 142); */
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 0 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: underline;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  margin: auto;
  width: 140px;
  /* background-color: rgb(43, 43, 43); */
}

.header__logo-image {

}

.address {
  display: flex;
  justify-content: end;
  /* background-color: rgb(159, 159, 159); */
}

.header__address a, p {
  line-height: 1.35;
  font-style: normal;
  display: block;
}

.cover {
  position: relative;
  display: block;
  width: 1440px;
  height: 757px;
  margin: auto;
  background: url(../images/cover.jpg) no-repeat;
  background-size: cover;
  /* background-color: black; */
}


.overlay {
  display: flex;
  inset: 0 0 0 0;
  position: absolute;
  z-index: 1;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  padding: 165px 50px 0 50px;
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;

}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: flex;
  justify-content: start;
  line-height: normal;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
}

.aligned-text_right {
  display: flex;
  justify-content: end;
  line-height: 1.1;
}

.cover__description {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: row;
  column-gap: 77px;
  padding: 130px 50px 50px 50px;
  justify-content: end;
  align-items: center;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  background: none;
  border: 1px solid #FFF;
  padding: 12px 32px;
  color: #FFF;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}